.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-logo {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/logo-arg.png");
  object-fit: contain;
  background-size: cover;
}

.brand h1 {
  padding: 10px;
  color: #e8e8e8;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: regular;
}
