.NavBar {
  display: flex;
  padding: 10px;
  align-items: center;
}

.NavBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.NavBar ul li a {
  color: #e8e8e8;
}
