.circleNumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
  left: 15px;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 90%;
  font-weight: 300;
  font-style: normal;
}
